
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
 
}
#calc-main{
  z-index: 1;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url("./images/calc-bg.png");
    background-size: contain;
    position: relative;
   
}

@font-face{
  font-family: "Pokemon";
  src: local("Pokemon"),url("./fonts/PokemonGb-RAeo.ttf"),format("truetype");
  font-weight: normal;
  font-style: normal;
}

#miniräknare-three{
  border: 4px solid black;
  width: 18em;
  height: 28em;
  background-color: rgb(247, 208, 44);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 
  
  
}

.select-container{
  position: absolute;
  top:65px;
  left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-container > label{
  color: black;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.history-container{
  position: absolute;
  left: 190px;
  top: 150px;
  background-color: orangered;
  width: 150px;
  height: 50px;
  text-align: center;
  z-index: -1;
  border-radius: 10px;
  transition:left 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.history-top{
  position: relative;
  width: 100%;
}
.history-bottom{
  position: absolute;
  transition: opacity 0.2s ease-in-out, visibility 0s linear 0.5s , max-height 0.6s ease-in-out;
  transition-delay: 0.3s;
  opacity: 0;
  left: -50px;
  top: 60px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  
  
  
}
.tab-container{
  transition:opacity 0s ease-in-out, background-color 0.2s ease,visibility 0s linear 0.5s;
  opacity: 0;
  width: 100%;
  border-bottom: 2px solid black;
 
}

.tab-container:last-child{
  border: none;
}



.tab-container:hover{
  background-color: #FFFBFC;
  
}
.tab-container:hover > .tab-p{
  font-weight: bold;
}
.history-container > h2{
  margin: 0;
}

.history-top:hover > .history-bottom{
  opacity: 1;
  background-color: white;
  left: 0;
  max-height: 275px;
  border: 2px solid black;
  
}

.history-top:hover > .history-bottom > .tab-container{
  opacity: 1;
}

.history-container:hover{
  left: 300px;
  cursor: pointer;
  
}
.tab-p{
  font-weight: normal;
}


.top{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items:start;
}

.display-bg-yellow{
  background-color: #171A21;
  width: 87%;
  height: 110px;
  margin-top: 0.3em;
  padding: 16px;
  position: relative;

}
.animation-p{
  position:absolute;
  left: 52%;
  top: 35%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.8px;
  animation: show 4s ease-in-out;
  width:165px;
  
}
.code-x{
  position:absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.8px;
  font-family: "Pokemon",sans-serif;
  font-size: 0.8rem;
  color: #6D0F9D;
  font-weight: bold;
  animation: show 4s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.animation-p > span{
  display: inline-block;
  font-family: "Pokemon",sans-serif;
  font-size: 1.1rem;
  color: #0000FF;
  
  
}
.animation-1{
  animation: start 4s ease-in;
}
.animation-2{
  animation: start 4s ease-in;
  animation-delay: 0.1s;
}
.animation-3{
  animation: start 4s ease-in;
  animation-delay: 0.25s;
}
.animation-4{
  animation: start 4s ease-in;
  animation-delay: 0.3s;
  margin-right: 0.4em;
}
.animation-5{
  animation: start 4s ease-in;
  animation-delay: 0.4s;
}
.animation-6{
  animation: start 4s ease-in;
  animation-delay: 0.5s;
}
.animation-7{
  animation: start 4s ease-in;
  animation-delay: 0.6s;
}
.animation-8{
  animation: start 4s ease-in;
  animation-delay: 0.7s;
}


@keyframes start {
  0% {
    transform: translateX(-100px) translateY(200px);
    opacity: 0;
  }
  20% {
    opacity: 1;
    color: #800080;
  }
  30% {
    color: #FF0000;
    transform: translateY(5px);
  }
  40% {
    color: #FFA500;
    transform: translateY(0);
  }
  50% {
    color: #FFFF00;
  }
  60% {
    color: #00FF00;
    transform: translateY(3px);
  }
  70% {
    color: #00FFFF;
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateY(2px);
  }
  80% {
    color: #0000FF;
  }
  85% {
    transform: translateY(0);
  }
  90% {
    color: #0000FF;
    transform: translateX(0) translateY(0);
  }
  100%{
    color: #0000FF;
  }
  100% {
    color: #0000FF;
  }
  100% {
    color: #0000FF; 
  }
}

@keyframes show{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  45%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.hidden-span{
      position: absolute;
      visibility: hidden;
      white-space: nowrap;
      height: auto;
      width: auto;
}

input{
  text-align: right;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  padding-right: 0.2em;
  font-size: 1.8rem;
  background-color: rgb(192, 192, 192);
  color: black;
  font-family: "Pokemon", sans-serif;
  font-weight: bold;
  overflow: hidden;
  
}
input::placeholder{
  color: black;
  font-family: "Pokemon", sans-serif;
  font-weight: bold;
  opacity: 0;
}

input:focus{
  outline: none;
}
.input-three{
  border-radius: 10px;
}
.show-placeholder::placeholder{
  opacity: 1;
}
.prevInput{
  margin: 0;
  text-align: right;
  position: absolute;
  right: 10px;
  top: 13px;
  color: black;
  font-family: "Pokemon",sans-serif;
  font-size: 0.8rem;
  
}
.input-container{
  width: 100%;
  height: 100%;
  position: relative;
}
.pika-img{
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0px;
  left: 0;
}
.mario-img{
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0px;
  right: 0;
}
.color-text{
  position: absolute;
  left: 30%;
  bottom: 0;
  margin: 0;
  color: #5A5552;
  font-size: 1rem;
  width: 130px;
  
}
.yellow-images p span:nth-child(1){
  color: #D32F2F;
}
.yellow-images p span:nth-child(2){
  color: #6F42C1;
}
.yellow-images p span:nth-child(3){
  color: #00796B;
}
.yellow-images p span:nth-child(4){
  color: #FF8C00;
}
.yellow-images p span:nth-child(5){
  color: #3B4CCA;
}



.three{
  gap: 7px;
  padding: 6px 0px;  
 }

.three button{
  text-align: center;
  padding: 14px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Inconsolata', sans-serif;
  font-weight: bold;
  border: none;
  
  

}
.three button:hover{
  cursor: pointer;
}
.three button:active{
  
  transform: translateY(2px)
}
.buttons{
  display: grid;
  width: 100%;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows: repeat(5,1fr);
}

.bottom-three{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 85%;
  z-index: 2;
  
}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
 
}

.bottom-three .three button:nth-child(1){   /* 00 */
  grid-area: 5 / 1 / 5 / 2;
  
  border-radius: 50%;
  
  
}
.bottom-three .three button:nth-child(2){   /* 0 */
  grid-area: 5/2/5/3;
  
    border-radius: 50%;
  
}
.bottom-three .three button:nth-child(3){   /* . */
  grid-area: 5/3/5/4;
  
    border-radius: 50%;
}
.bottom-three .three button:nth-child(4){   /* 1 */
  grid-area: 4/1/4/2;
  
  border-radius: 50%;
  
  
}
.bottom-three .three button:nth-child(5){   /* 2 */
  grid-area: 4/2/4/3;
  
  border-radius: 50%;
  
}
.bottom-three .three button:nth-child(6){   /* 3 */
  grid-area: 4/3/4/4;
  
    border-radius: 50%;
  
}
.bottom-three .three button:nth-child(7){   /* 4 */
  grid-area: 3 / 1 / 3 / 2;
  
    border-radius: 50%;
  
}
.bottom-three .three button:nth-child(8){   /* 5 */
  grid-area: 3 / 2 / 3 /3;
  
    border-radius: 50%;
 
}
.bottom-three .three button:nth-child(9){   /* 6 */
  grid-area: 3 / 3 / 3 /4;
  
    border-radius: 50%;
}
.bottom-three .three button:nth-child(10){  /* 7 */
  grid-area: 2 / 1 / 2 /2;
  
    border-radius: 50%;
  
}
.bottom-three .three button:nth-child(11){  /* 8 */
  grid-area: 2 / 2 / 2 / 3;
  
    border-radius: 50%;
  
}
.bottom-three .three button:nth-child(12){  /* 9 */
  grid-area: 2 / 3 / 2 / 4;
 
    border-radius: 50%;
  
}
.bottom-three .three button:nth-child(13){  /* C */
  grid-area: 1 / 1 /2 / 2;
  
    border-radius: 50%;
  
}
.bottom-three .three button:nth-child(14){  /* x */
 
  border-radius: 50%;
  
}
.bottom-three .three button:nth-child(15){  /* / */
 
  border-radius: 50%;
}
.bottom-three .three button:nth-child(16){  /* + */
  
  border-radius: 50%;
  
}
.bottom-three .three button:nth-child(17){  /* - */
 
    border-radius: 50%;
}
.bottom-three .three button:nth-child(18){  /* % */
 
    border-radius: 50%;
  
}
.bottom-three .three button:last-child{  /* = */
  grid-area: 4 / 4 / 6 / 5;
  
  border-radius: 5px;
  
  
}



.original-numb{
  background-color: #00796B;
  color: #fff;
}

.original-operator{
 background-color:#D32F2F;
 color: #fff;
}

.original-equal{
  background-color: #3B4CCA;
  color: #fff;
}



.protanopia-numb{
  background-color: #0000FF;
  color: #fff;
}

.protanopia-operator{
  background-color: #ADD8E6;
  color: black;
}
.protanopia-equal{
  background-color: black;
  color: #fff;
}


.tritanopia-numb{
 background-color:  #8B0000;
 color: #fff;
}
.tritanopia-operator{
  background-color:  #006400;
  color:  #FFFDD0;
}
.tritanopia-equal{
  background-color: black;
  color: #fff;
}

.deuteranopia-numb{
background-color: #000080;
color: #fff;
}
.deuteranopia-operator{
  background-color: #FFFFFF;
  color: black;
}
.deuteranopia-equal{
 background-color: black; 
 color: #fff;
}

.achromatopsia-numb{
  background-color: #E0E0E0;
  color: black;
}
.achromatopsia-operator{
  background-color: #A0A0A0;
  color: black;
}
.achromatopsia-equal{
  background-color: #505050;
  color: #fff;
}

.monochromacy-numb{
  background-color: #E0E0E0;
  color: black;
}
.monochromacy-operator{
  background-color: #A0A0A0;
  color: black;
}
.monochromacy-equal{
  background-color: #505050;
  color: #fff;
}